
# Node dependencies
node_modules/

# Test coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Caches
.eslintcache
.stylelintcache

# System files
*.tgz
.DS_Store
Thumbs.db
